{% set posts = __SELF__.posts %}
{% set resourcePage = __SELF__.resourcePage %}

<div class="container ficha">
    <div class="row" id="cards-recursos">

        {% for post in posts %}

            <div class="col-sm-6 col-md-6 col-lg-3 card-grid">
                <a class="card-link" href="{{ resourcePage|page({slug: post.slug}) }}">
                <div class="card" style="border-bottom: 4px solid {{post.color}}">
                    <img src="{{ post.imagen.thumb(300,200,{'mode':'crop'}) }}" alt="titulo ficha">
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ post.titulo }}</h4>
                        </div>
                        <div class='star-ranking' id='{{ post.id }}' data-promedio='{{post.stars}}' ></div>
                        <div class="content-excerpt">
                          <p class="card-text">{{ post.descripcion }}</p>
                        </div>

                    </div>

                    <div class="category-recurso">
                      <p>{{post.nombre}}</p>
                    </div>
                </div>
                </a>
            </div>

        {% else %}

            <div class="col-4">

                <h3 class="danger">No existen elementos</h3>

            </div>

        {% endfor %}

    </div>
    <div class="row">

        <div class="col">

            {% partial '@pagination' %}

        </div>

    </div>
</div>
