{% if totalPages > 1 %}

    <ul class="pagination justify-content-center">

        {% if currentPage > 1 %}
            <li class="page-item"><a class="page-link" href="{{ '' |page }}?page={{ currentPage-1}}">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a></li>
        {% else %}
            <li class="page-item disabled"><a class="page-link" href="#">
                <span aria-hidden="true">&laquo;</span>
                <span class="sr-only">Previous</span>
            </a></li>
        {% endif %}

        {% for page in 1..totalPages %}
            <li class="page-item {{ currentPage == page ? 'active' : null }}">
                <a class="page-link" href="{{ ''|page }}?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if totalPages > currentPage %}
            <li class="page-item"><a class="page-link" href="{{ ''|page }}?page={{ currentPage+1}}">
                <span aria-hidden="true">&raquo;</span>
                <span class="sr-only">Next</span>
            </a></li>
        {% else %}
        <li class="page-item disabled"><a class="page-link" href="#">
            <span aria-hidden="true">&raquo;</span>
            <span class="sr-only">Next</span>
        </a></li>
        {% endif %}

    </ul>

{% endif %}
