{% set posts = __SELF__.posts %}
{% set recursosexternos = __SELF__.recursosexternos %}
{% set resourcePage = __SELF__.resourcePage %}

<div class="row titulo-listado">
    <div class="info-listado">
        <h1>{{coleccion.titulo}}</h1>
        {{coleccion.descripcion|raw}}
    </div>
</div>
<div class="container ficha">
    <div class="row" id="cards-recursos">
        {% for post in posts %}
        <div class="col-sm-6 col-md-6 col-lg-3 card-grid">
            {%if post.title %}
            <a class="card-link" href="/recurso-externo/{{ post.slug }}">
                {%else%}
                <a class="card-link" href="{{ resourcePage|page({slug: post.slug}) }}">
            {%endif%}
                <div class="card" style="border-bottom: 4px solid {{post.categoria.color}}">
                    <img src="{{ post.imagen.thumb(300,200,{'mode':'crop'}) }}{{ post.imgen.thumb(300,200,{'mode':'crop'}) }}" alt="titulo ficha">
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ post.title}}{{ post.titulo}}</h4>
                        </div>
                        <div class="content-excerpt">
                            <p class="card-text">{{ post.descripion }}{{ post.descripcion }}</p>
                        </div>
                    </div>
                    {%if post.categoria.nombre %}
                        <div class="category-recurso">
                            <p>{{post.categoria.nombre}}</p>
                        </div>
                        {%else%}
                    <div class="category-recurso recursos-externos">
                        <p>Recurso Externo</p>
                    </div>
                    {%endif%}

                </div>
            </a>
        </div>
        {%endfor%}
    </div>
    <div class="row">
        <div class="col">
            {% partial '@pagination' %}
        </div>
    </div>
</div>
