{% set results = __SELF__.results %}


<div class="container ficha">

    <div class="row" id="cards-recursos">

        {% for result in results %}

            <div class="col-sm-6 col-md-6 col-lg-3 card-grid">
                <a class="card-link" href="{{result.url}}">
                <div class="card" style="border-bottom: 4px solid {{result.model.categoria.color}}">
                    {% if result.thumb %}
                        <img  src="{{ result.thumb.thumb(300,200,{'mode':'crop'}) }}" alt="{{ result.title }}">
                    {% endif %}
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ result.title }}</h4>
                        </div>
                        <div class="content-excerpt">
                          <p class="card-text">{{ result.text }}</p>
                        </div>

                    </div>
                    {% if result.model.categoria.nombre %}
                        <div class="category-recurso">
                          <p>{{result.model.categoria.nombre}}</p>
                        </div>
                    {% elseif result.model.description %}
                        <div class="category-recurso pregunta">
                          <p>Pregunta frecuente</p>
                        </div>
                    {% else %}
                        <div class="category-recurso coleccion">
                          <p>Colección</p>
                        </div>
                    {% endif %}
                </div>
                </a>
            </div>

        {% else %}

            <div class="col-12">

                <h3 class="danger">{{noResultsMessage}}</h3>
                <script>
                    var elem = document.getElementById("export"); elem.parentElement.removeChild(elem);
                </script>

            </div>

        {% endfor %}

    </div>
    <div class="row">

        <div class="col">

            {% partial __SELF__ ~ '::pagination.htm' results = results %}

        </div>

    </div>
</div>
