{% set colecciones = __SELF__.colecciones %}
{% set resourcePage = __SELF__.resourcePage %}

<div class="container ficha">


    <div class="row" id="cards-recursos">

        {% for coleccion in colecciones %}

            <div class="col-sm-6 col-md-6 col-lg-3 card-grid">
                <a class="card-link" href="{{ resourcePage|page({slug: coleccion.slug}) }}">
                <div class="card" style="border-bottom: 4px solid #333; }}">
                    <img src="{{ coleccion.imagen.thumb(300,200,{'mode':'crop'}) }}" alt="{{ coleccion.titulo }}</h4>
                </div>">
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ coleccion.titulo }}</h4>
                        </div>
                        <div class="content-excerpt">
                          <p class="card-text">{{ coleccion.descripcion }}</p>
                        </div>

                    </div>

                    <div class="category-recurso coleccion">
                      <p>Colección</p>
                    </div>

                </div>
                </a>
            </div>

        {% else %}

            <div class="col-4">

                <h3 class="danger">No existen elementos</h3>

            </div>

        {% endfor %}

    </div>
    <div class="row">

        <div class="col">

            {% partial '@pagination' %}

        </div>

    </div>
</div>
