{% set recursoexterno = __SELF__.recursoexterno %}

<div class="container ficha ficha-ampliada">
    <div class="row">
        <div class="col-md-4 img-recurso">
            <img src="{{ recursoexterno.imagen.thumb(300,300,{'mode':'crop'}) }}" class="rounded float-left" alt="{{ recursoexterno.title }}">
        </div>

        <div class="col-md-8">
            <h2>{{ recursoexterno.title }}</h2>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div id="datos" class="row text-left">
        <div class="col-12 datos-generales">
            <div class="datos_generales">

                <h4>Descripción del Recurso:</h4>
                <p>{{ recursoexterno.description |raw}}</p>

            </div>
        </div>
    </div>


</div>
