<div data-control="toolbar">
        <a href="<?= Backend::url('ceibal/rea/recursos/create') ?>" class="btn btn-primary oc-icon-plus"><?= e(trans('backend::lang.form.create')) ?> Recurso</a>
        <button
        class="btn btn-default oc-icon-trash-o"
        disabled="disabled"
        onclick="$(this).data('request-data', {
            checked: $('.control-list').listWidget('getChecked')
        })"
        data-request="onDelete"
        data-request-confirm="<?= e(trans('backend::lang.list.delete_selected_confirm')) ?>"
        data-trigger-action="enable"
        data-trigger=".control-list input[type=checkbox]"
        data-trigger-condition="checked"
        data-request-success="$(this).prop('disabled', true)"
        data-stripe-load-indicator>
        <?= e(trans('backend::lang.list.delete_selected')) ?>
    </button>
    <a href="<?= Backend::url('ceibal/rea/recursos/export') ?>" class="btn btn-primary oc-icon-download">Exportar recursos</a>
    <?php
       $etapas = DB::table('rea_plugin_etapa')->get();
        $idEtapa = "";
        if(isset($_GET['e']) && !empty($_GET['e']))
        {
        $idEtapa = $_GET['e'];
        }
    ?>

    <select class="form-control custom-select etapas-select" name="etapas">
        <option value="0">Todas las etapas</option>
        <?php foreach($etapas as $etapa){ ?>
        <option <?php if($idEtapa == $etapa->id){echo "selected"; } ?> value="<?= $etapa->id; ?>"><?= $etapa->descripcion; ?></option>
        <?php } ?>
    </select>

    <script type="text/javascript">
        $(document).ready(function()
        {

            $('.etapas-select').on('change',function(){
                var idUser = parseInt($(this).val());
                if(idUser)
                {
                    window.location.href = "/backend/ceibal/rea/recursosusuario?e=" + idUser;
                }else
                {
                    window.location.href = "/backend/ceibal/rea/recursosusuario";
                }

            });

        });

    </script>
</div>
