description = "Breadcrumbs del sitio REA"
==
<div class="container-fluid barra-breadcrumbs">
    <div class="container">
        <div class="row">
            <nav class="breadcrumb">
                {% if links %}

                    <a class="breadcrumb-item" href="/">Inicio</a>

                    {% for link in links %}

                        {% if loop.last %}

                            <span class="breadcrumb-item active">{{ link.title }}</span>

                        {% else %}

                            <a class="breadcrumb-item" href="{{ link.url }}">{{ link.title }}</a>

                        {% endif %}

                    {% endfor %}

                {% endif %}

            </nav>
        </div>
    </div>
</div>
