==
<!---------------------FEATURES------------------->
<div class="container-fluid" id="features">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <div class="text-center">
                    <img src="/themes/rea-tema/assets/images/icono-home-07.svg" alt="Aprende" class="img-responsive"/>
                    <h3>CREA</h3>
                    <p>Construye, desarrolla, remixa Recursos Educativos Abiertos.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center col-center-featured ">
                    <img src="/themes/rea-tema/assets/images/icono-home-05.svg" alt="Aprende" class="img-responsive"/>
                    <h3>APRENDE</h3>
                    <p>Investiga y trabaja colaborativamente para conocer más.</p>
                </div>
            </div>
            <div class="col-sm">
                <div class="text-center">
                    <img src="/themes/rea-tema/assets/images/icono-home-06.svg" alt="Aprende" class="img-responsive"/>
                    <h3>COMPARTE</h3>
                    <p>Comparte con otros tus recursos educativos en el repositorio.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--------------------FIN FEATURES----------------->