description = "Footer del sitio REA"
==
<section id="pie">
	<div class="container-fluid barra-blanca">
	    <div class="row">
	        <div class="footer-colors">
				<div class="foot-colors color01"></div>
				<div class="foot-colors color02"></div>
				<div class="foot-colors color03"></div>
				<div class="foot-colors color04"></div>
				<div class="foot-colors color05"></div>
				<div class="foot-colors color06"></div>
			</div>
			<div id="footer">
				<div class="container">
					<div class="row">
						<div class="col-md-4 footer-ceibal">
							<ul>
								<b>
									<li>Plan Ceibal</li>
									<li>Av. Italia 6201</li>
									<li>Edificio Los Ceibos</li>
									<li>0800 2342 / *2342</li>
									<li>Montevideo, Uruguay</li>
									<li><a href="mailto:contacto@ceibal.edu.uy">contacto@ceibal.edu.uy</a></li>
									<li><a href="https://www.facebook.com/PlanCeibal/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a> <a href="https://twitter.com/Plan_Ceibal" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a><a href="https://www.youtube.com/user/canalceibal" target="_blank"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
								</b>
							</ul>
						</div>

						<div class="col-md-4 hidden-sm hidden-xs">
							<ul>
							<li><b>Proyecto REA</b></li>
								<li><a href="/acerca-de">¿Quiénes somos?</a></li>
								<li><a href="/comunidad">Comunidad</a></li>
								<li><a href="/como-funciona">¿Cómo funciona?</a></li>
								<li><a href="/ayuda">Ayuda</a></li>
								<li><a href="#">Código Fuente</a></li>
								<li><a href="https://politicas.ceibal.edu.uy/">Términos y Condiciones</a></li>
							</ul>
						</div>
						<div class="col-md-4 hidden-sm hidden-xs">
							<ul>
							    <li><b>Innovación Educativa</b></li>
							    <li><a href="http://www.ceibal.edu.uy/red-global-de-aprendizajes">Red Global de Aprendizajes</a></li>
							    <li><a href="http://www.ceibal.edu.uy/labted">Laboratorios de Tecnologías Digitales</a></li>
							    <li><a href="http://www.ceibal.edu.uy/ceibal-en-ingles">Ceibal en Inglés</a></li>
							    <li><a href="http://www.ceibal.edu.uy/biblioteca-digital-ceibal">Biblioteca</a></li>
							    <li><a href="http://www.ceibal.edu.uy/portal-de-videojuegos">Videojuegos</a></li>
							    <li><a href="http://valijas.ceibal.edu.uy" target="_blank">Valijas</a></li>
							    <li><a href="http://www.ceibal.edu.uy/pam">PAM</a></li>
							    <li><a href="http://www.ceibal.edu.uy/crea">CREA</a></li>
							    <li><a href="http://www.ceibal.edu.uy/formacion-docente">Formación</a></li>
							    <li><a href="http://www.ceibal.edu.uy/aprender-todos">Aprender tod@s</a></li>
							    <li><a href="http://www.ceibal.edu.uy/disenando-el-cambio">Diseñando el cambio</a></li>
							</ul>
						</div>

					</div>
				</div>
			</div>
	    </div>
	</div>
</section>
