==
<?php
use Ceibal\Rea\Models\Recurso;
use Ceibal\Rea\Models\Categoria;

function onStart()
{
    $this['recursos'] = Recurso::join('ceibal_rea_destacado', 'ceibal_rea_destacado.recurso_id','=','ceibal_rea_recursos.id')->where('principal',0)->publicados()->limit(8)->orderby('ceibal_rea_destacado.destacado_id','DESC')->get();

    foreach ($this['recursos'] as $recurso) {
        $recurso->descripcion = strip_tags($recurso->descripcion);
    }
}
?>
==
<div class="container ficha recursos-home">
    <!---------------------FILTROS------------------------>
    <div class="menu-filtro">
        <select class="filtro-resp">
            <option value="1" selected >Destacados</option>
            <option value="2" >Más vistos</option>
            <option value="3" >Últimos subidos</option>
        </select>
        <ul>
            <li id="destacados" class="active">Destacados</li>
            <li id="mas-vistos">Más vistos</li>
            <li id="ultimos-subidos">Últimos subidos</li>
        </ul>
    </div>
    <!---------------------SPINNER----------------------->
    <div class="spinner hidden">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
    </div>
    <!---------------------TARJETAS REA------------------->
    <div class="row" id="cards-recursos">
        {% for recurso in recursos %}
        <div class="col-sm-6 col-md-6 col-lg-3  card-grid">
            <a class="card-link" href="/rea/{{recurso.slug}}">
                <div class="card" style="border-bottom: 4px solid {{recurso.categoria.color}}">
                    <img src="{{ recurso.imagen.thumb(300,200,{'mode':'crop'}) }}" alt="{{ recurso.titulo }}">
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ recurso.titulo }}</h4>
                        </div>
                        <div class="content-excerpt">
                            <p class="card-text">{{ recurso.descripcion }}</p>
                        </div>
                    </div>
                    <div class="category-recurso">
                        <p>{{recurso.categoria.nombre}}</p>
                    </div>
                </div>
            </a>
        </div>
        {% else %}
        <div class="col-4">
            <h3 class="danger">{{noResultsMessage}}</h3>
        </div>
        {% endfor %}
    </div>
</div>
