==
use Ceibal\Rea\Models\Recurso;

function onStart()
{
  $this['recurso'] = Recurso::where('principal',1)->publicados()->first();

  if(count($this['recurso']) == 0)
  {
    $this['recurso'] = Recurso::publicados()->publicados()->orderBy('id','desc')->limit(1)->first();
  }

  if($this['recurso']){
      $this['recurso']->descripcion = substr(strip_tags($this['recurso']->descripcion), 0, 300)."..." ;
  }

  $this['recurso']->descripcion = html_entity_decode($this['recurso']->descripcion);

}

==

{% if(recurso) %}

<main id="fondo-noticia" class="cd-main-content">
  <div class="fondo-noticia-negro"></div>
  <div class="fondo-noticia" style="background-image:url({{ recurso.imagen.path()  }}) !important;"></div>
  <div class="container">
    <div class="row">

      <div class="col-md-4 col-sm-12" style="z-index:15">
        <div class="destacada-home-txt destacada-home-txt-img" >
          <img alt="{{recurso.titulo}}" class="img-responsive" src="{{recurso.imagen.thumb(300,300,{'mode':'crop'})}}">
        </div>
      </div>

      <div class="col-md-8 col-sm-12">
        <div class="destacada-home-txt">
          <h2>{{recurso.titulo}}</h2>
          <h3>{{recurso.descripcion}}</h3>
          <a href="/rea/{{recurso.slug}}" class="btn btn-primary btn-lg btn-azul">Ver más</a>
        </div>
      </div>

    </div>

  </div>
</main>

{% endif %}
