title = "Búsqueda"
url = "/busqueda"
layout = "default"
is_hidden = 0

[searchInput]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "Busqueda.htm"

[resultados]
resourcePage = "rea"
resultsPerPage = 24
showProviderBadge = 1
noResultsMessage = "No se encontraron resultados."
visitPageMessage = "Visit page"

[buscador]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
==
<?php
use League\Csv\Writer;
use Ceibal\Rea\Models\Tag;
use Ceibal\Rea\Models\Recurso;
use Ceibal\Rea\Models\Coleccion;
use Ceibal\Rea\Models\Categoria;
use Illuminate\Support\Facades\Session;



function onStart()
{
    if(Request::post('export')){
        $url = "https://rea.ceibal.edu.uy";
        $fields = ['Titulo', 'Nivel', 'Autor', 'Url', 'Descripción','Categoría', 'Licencia', 'Colección'];

        //we create the CSV into memory
        $csv = Writer::createFromFileObject(new \SplTempFileObject());

        //we insert the CSV header
        $csv->insertOne($fields);

        $titulo = Request::get('q');
        $autor = Request::get('a');
        $categoria = Request::get('c');
        $nivel = Request::get('n');
        $coleccion = Request::get('cc');

        $recursos = DB::select('SELECT ceibal_rea_recursos.id, ceibal_rea_recursos.titulo, ceibal_rea_recursos.nivel, ceibal_rea_recursos.autor_name,
                                ceibal_rea_recursos.url_visualizar, ceibal_rea_recursos.descripcion,
                                ceibal_rea_categorias.nombre as categoría, ceibal_rea_licencias.nombre AS licencia
                                FROM ceibal_rea_recursos
                                INNER JOIN ceibal_rea_categorias on ceibal_rea_categorias.id = ceibal_rea_recursos.categoria_id
                                INNER JOIN ceibal_rea_licencias on ceibal_rea_licencias.id = ceibal_rea_recursos.licencia_id
                                WHERE publicado = 1
                                AND (ceibal_rea_recursos.descripcion LIKE "%'.$titulo.'%"
                                OR ceibal_rea_recursos.titulo LIKE "%'.$titulo.'%"
                                OR ceibal_rea_recursos.propositos LIKE "%'.$titulo.'%")');

        if(count($recursos) > 0 && empty($coleccion)){
            foreach ($recursos as $recurso => $value){
                $csv->insertOne([$value->titulo,
                $value->nivel,
                $value->autor_name,
                $url.$value->url_visualizar,
                str_replace("&nbsp;", " ", strip_tags($value->descripcion)),
                $value->categoría,
                $value->licencia
                ]);
            }
            $csv->output('filtro_recursos.csv');
            die;
        }else{
            $getColeccion = Coleccion::select('titulo')
            ->join('ceibal_rea_coleccion_recurso','ceibal_rea_coleccion_recurso.coleccion_id', '=', 'ceibal_rea_coleccion.id' )
            ->where('ceibal_rea_coleccion_recurso.recurso_id',$recursos[0]->id )
            ->get();

            foreach ($getColeccion as $col){
            $colecciones[] = $col->titulo;
            }
            if(count($getColeccion) > 0){
                foreach ($recursos as $recurso => $value){
                    $csv->insertOne([$value->titulo,
                    $value->nivel,
                    $value->autor_name,
                    $url.$value->url_visualizar,
                    str_replace("&nbsp;", " ", strip_tags($value->descripcion)),
                    $value->categoría,
                    $value->licencia,
                    implode(',', $colecciones)
                    ]);
                }
                $csv->output('filtro_recursos.csv');
                die;
            }
        }
    }
    //Carga la vista
    else{
        $this->page['q'] = Request::get('q');
        $this->page['a'] = Request::get('a');
        $this->page['c'] = Request::get('c');
        $this->page['n'] = Request::get('n');
        $this->page['e'] = Request::get('e');
        $this->page['cc'] = Request::get('cc');

        $this->page['categorias'] = Categoria::all();
        $this->page['tags'] = Tag::all();
        $this->page['colecciones'] = Coleccion::where('published', 1)->get();
    }
}
?>
==
<div class="filtro-busqueda">
    <div class="content-filtros">
        <div class="form-row form-group form-inline">
            <div class="form-group col-md-6">
                <h2>Búsqueda avanzada:</h2>
            </div>
        </div>
        <form>
          <div class="form-row form-group form-inline">
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="q" value="{{ this.page.q }}" placeholder="Título">
            </div>
            <div class="form-group col-md-6">
              <input type="text" class="form-control" name="a" value="{{ this.page.a }}" placeholder="Autor">
            </div>
          </div>

      <div class="form-row form-group form-inline">

        <div class="form-group col-md-6">
          <select name="c" class="form-control">
              <option value="">Todas las categorías</option>
            {% for cat in this.page.categorias %}
                {% if this.page.c == cat.id %}
                <option value="{{cat.id}}" selected>{{cat.nombre}}</option>
                {% else %}
                <option value="{{cat.id}}">{{cat.nombre}}</option>
                {% endif %}
            {% endfor %}
          </select>
        </div>

        <div class="form-group form-group col-md-6">
          <select name="n" class="form-control">
              <option value="">Todos los niveles</option>
              {% if this.page.n == 1 %}
                  <option value="1" selected>Educación inicial y primaria</option>
              {% else %}
                  <option value="1">Educación inicial y primaria</option>
              {% endif %}

              {% if this.page.n == 2 %}
                  <option value="2" selected>Educación media y superior</option>
              {% else %}
                  <option value="2">Educación media y superior</option>
              {% endif %}
          </select>
        </div>


        </div>

        <div class="form-row form-group form-inline">

        <div class="form-group form-group col-md-6">
          <select name="e" class="form-control">
              <option value="">Todas las etiquetas</option>
          {% for tag in this.page.tags %}
              {% if this.page.e == tag.id %}
              <option value="{{tag.id}}" selected>{{tag.nombre}}</option>
              {% else %}
              <option value="{{tag.id}}">{{tag.nombre}}</option>
              {% endif %}

          {% endfor %}
          </select>
        </div>

        <div class="form-group form-group col-md-6">
          <select name="cc" class="form-control">
              <option value="">Todas las colecciones</option>
          {% for coleccion in this.page.colecciones %}
              {% if this.page.cc == coleccion.id %}
              <option value="{{coleccion.id}}" selected>{{coleccion.titulo}}</option>
              {% else %}
              <option value="{{coleccion.id}}">{{coleccion.titulo}}</option>
              {% endif %}

          {% endfor %}
          </select>
        </div>

        </div>

        <div class="form-group form-group col-md-12 container-btnfiltrar">
           <button type="submit" class="btn btn-primary btnfiltrar" id="filtro" name="filtro">
               <i class="fa fa-play" title="Filtros" ></i>
               Aplicar filtros</button>
            <button type="submit" class="btn" id="export" name="export" value="1" style="background-color: #0074AE; color: white"
                    title="Para abrir el archivo se recomienda utilizar Google Drive u Open Office"
                    onclick="gtag('event', 'busqueda', {'event_category': 'busqueda','event_label': 'busqueda'});">
                <i class="fa fa-download" title="Descarga" ></i>
                Catálogo de búsqueda</button>
        </div>
      </div>


    </form>
    </div>
</div>
{% component 'resultados' %}