title = "Pregunta frecuente"
url = "/faq/:id"
layout = "page-sin-titulo"
is_hidden = 0

[buscador]
useAutoComplete = 1
autoCompleteResultCount = 5
showProviderBadge = 1
searchPage = "Busqueda.htm"
==
<?php
use Ceibal\Faqs\Models\Faq;

function onStart()
{
    $faq = $this['faq'] = Faq::where('id','=',$this->param('id'))->first();

    if (count($faq) == 0)
    {
        return \Redirect::to('404');
    }

    $this->page->title = $faq->title;
}
?>
==
<h1>{{ faq.title }}</h1>

<div class="datos_generales">
    {{ faq.description |raw }}
</div>