{% set resource = __SELF__.resource %}
{% set resourcePage = __SELF__.resourcePage %}

<div class="container ficha">
    <div class="row" id="cards-recursos">
        {% for recursoexterno in resource %}
        <div class="col-sm-6 col-md-6 col-lg-3 card-grid">
            <a class="card-link" href="{{ resourcePage|page({slug: recursoexterno.slug}) }}">
                <div class="card" style="border-bottom: 4px solid {{post.categoria.color}}">
                    <img src="{{ recursoexterno.imagen.thumb(300,200,{'mode':'crop'}) }}" alt="{{ recursoexterno.title }}">
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ recursoexterno.title }}</h4>
                        </div>
                        <div class="content-excerpt">
                            <p class="card-text">{{ recursoexterno.description |raw}}</p>
                        </div>
                    </div>

                </div>
            </a>
        </div>
        {% else %}
        <div class="col-4">
            <h3 class="danger">No existen elementos</h3>
        </div>
        {% endfor %}
    </div>
</div>
