{% set post = __SELF__.post %}
{% set licencia = post.licencia %}



<div class="container ficha ficha-ampliada">
    <div class="row">
        <div class="col-md-4 img-recurso">
            <img src="{{ post.imagen.thumb(300,300,{'mode':'crop'}) }}" class="rounded float-left" alt="titulo ficha">
        </div>

        <div class="col-md-8">
            <div class="compartir pull-right">
                {% component 'ssbuttonsssb' %}
            </div>
            <h2>{{ post.titulo }}</h2>
            <div class='starrr' id='{{ post.id }}' data-promedio='{{rating}}' ></div>
            <p>{{ post.descripcion |md }}</p>
            <div class="decargas">
                <a href="{{ post.url_visualizar}}" class="btn btn-primary" target="_blank">Ver recurso</a>
                {% if post.fileelp.path %}
                    <a href="{{ post.fileelp.path}}" class="btn btn-primary">Descargar recurso</a>
                {% else %}
                    <a href="{{ post.url_elp|media}}" class="btn btn-primary">Descargar recurso</a>
                {% endif%}
            </div>

        </div>
    </div>

    {% if showTags %}
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div id="tags" class="row no-gutters recurso-tags">
        <div class="col-12 text-left">
            <h3>Etiquetas</h3>
        </div>
        <div class="col-12 text-left">
            {% for tag in post.tags %}

            <a class="tags" href="/tag/{{ tag.slug }}">{{ tag.nombre}}</a>

            {% endfor %}
        </div>
    </div>

    {% endif %}

    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>

    <div id="datos" class="row text-left">
        <div class="col-12 datos-generales">
            <h3>Datos generales</h3>
            <div class="datos_generales">
                {% if post.propositos %}
                <h4>Propósitos</h4>
                <p>{{ post.propositos|md }}</p>
                <br>
                {% endif %}
                {% if(post.conocimientos_previos) %}
                <h4>Conocimientos previos:</h4>
                <p>{{ post.conocimientos_previos}}</p>
                <br>
                {% endif %}
                <h4>Licencia:</h4>
                <p>{{ licencia.tipo}}</p>
                <p>
                    <a href="{{ licencia.url }}" target="_blank">
                        <img src="{{ licencia.imagen.getPath()}}" alt="{{ licencia.nombre }}">
                    </a>
                </p>
                {% if post.autor_name %}
                <h4>Autor:</h4>
                <p>{{ post.autor_name }}</p>
                {% endif %}

                {% if post.recomendaciones %}
                <h4>Recomendaciones:</h4>
                <p>{{ post.recomendaciones }}</p>
                {% endif %}

                {% if post.formato %}
                <h4>Formato:</h4>
                <p>{{ post.formato }}</p>
                {% endif %}
            </div>
        </div>
    </div>

    {% if showRelated %}
        {% component 'relacionados' %}
    {% endif %}

</div>
