{% set posts = __SELF__.posts %}
{% set resourcePage = __SELF__.resourcePage %}
{{ this.page.currentPage }}
<div class="container ficha">

    <div class="menu-filtro white">
        <select class="filtro-resp-cat">
            <option value="3" {{selectedBtn3}} >Todos</option>
            <option value="1" {{selectedBtn1}} >Inicial y Primaria</option>
            <option value="2" {{selectedBtn2}}>Media y Superior</option>
        </select>
        <form>
            <input type="hidden" value="{{categoria.id}}" name="categoria">
            <input type="hidden" value="{{categoria.parent_id}}" name="parent_id">
            <input type="hidden" value="{{classBtn1}}" name="nivel1">
            <input type="hidden" value="{{classBtn2}}" name="nivel2">
            <div style="text-align: right">
                <button type="submit" class="btn btn-primary" id="export" name="export" value="1"
                        onclick="gtag('event', 'recurso', {'event_category': 'recursos','event_label': 'recurso'});">
                <i class="fa fa-download" title="Descarga" ></i>
                {{ 'Catálogo de categoría' }}
            </button></div>
            <ul>
                <li id="todos" class="{{classBtn3}}" ><a href="?c=3">Todos</a></li>
                <li id="inicial-primaria" class="{{classBtn1}}" ><a href="?c=1">Inicial y Primaria</a></li>
                <li id="media-superior" class="{{classBtn2}}" ><a href="?c=2">Media y Superior</a></li>
            </ul>
        </form>
    </div>

    <div class="row" id="cards-recursos">

        {% for post in posts %}

        <div class="col-sm-6 col-md-6 col-lg-3 card-grid">
            <a class="card-link" href="{{ resourcePage|page({slug: post.slug}) }}">
                <div class="card" style="border-bottom: 4px solid {{post.categoria.color}}">
                    <img src="{{ post.imagen.thumb(300,200,{'mode':'crop'}) }}" alt="titulo ficha">
                    <div class="card-block">
                        <div class="title-recurso">
                            <h4 class="card-title">{{ post.titulo }}</h4>
                        </div>
                        <div class="content-excerpt">
                            <p class="card-text">{{ post.descripcion }}</p>
                        </div>

                    </div>

                    <div class="category-recurso">
                        <p>{{post.categoria.nombre}}</p>
                    </div>
                </div>
            </a>
        </div>

        {% else %}

        <div class="col-4">

            <h3 class="danger">No existen elementos</h3>
            <script>
                var elem = document.getElementById("export"); elem.parentElement.removeChild(elem);
            </script>

        </div>

        {% endfor %}

    </div>
    <div class="row">

        <div class="col">

            {% partial '@pagination' %}

        </div>

    </div>
</div>
