/*font-family: 'Raleway', sans-serif;*/
body {
    font-family: 'Raleway', sans-serif;
}

h3.ui-accordion-header:focus
{
	outline: none;
}

#accordion h3
{
    margin-top: 20px;
    cursor: pointer;
}

#accordion h3:hover, #accordion h3.ui-state-active
{
    font-weight: 600;
}

.categoria {
    background-color: #ECEDEF;
    background-image: url(../images/categoria.png);
    background-repeat:repeat-x;
}

.categoria.page-ampliada
{
    background-image: none;
    padding: 20px 0;
}
/*Breadcrumbs*/

.barra-breadcrumbs {
    background-color: #434142;
}

.breadcrumb {
    background-color: transparent;
    padding: 10px;
    color: #FFF;
    font-weight: 600;
    margin-bottom: 0;
}

.breadcrumb-item.active {
    color:#FFF;
    font-weight: 700;
}

.breadcrumb a{
    color: #FFF;
    font-weight: 300;
}

.breadcrumb-item+.breadcrumb-item::before {
    color: #FFF;
}

/*Breadcrumbs*/

/*  ficha  */

.ficha.ficha-ampliada{
    /*margin-top: 100px;*/
    padding-top: 85px;
}

.ficha-ampliada h2
{
  display: table;
  padding: 10px 0 0 0;
  font-weight: bold;
}

.ficha-ampliada .btn-primary
{
  background: #ea9600;
  border: #ea9600;
}

.recursos-home.ficha
{
  margin-top: -130px;
  z-index: 100;
}

.compartir {
    color: #FFF;
    font-size: 2em;
    width: 100%;
    padding: 10px 0;
}

.compartir span{
    /*margin-right:10px;*/
    float: right;
    font-size: 20px;
    padding: 0 10px;
}

/*footer*/
.footer-colors{width: 100%; float: left}
.foot-colors{height: 7px; width: 16.66666666666667%; float: left}

.color01{background-color: #4A72B2}
.color02{background-color: #5FA199}
.color03{background-color: #A3BD31}
.color04{background-color: #E6B54A}
.color05{background-color: #D38051}
.color06{background-color: #C44656}

.txtcolor01{color: #4A72B2}
.txtcolor02, .txtcolor02 p{color: #5FA199}
.txtcolor03{color: #A3BD31}
.txtcolor04{color: #E6B54A}
.txtcolor05{color: #D38051}
.txtcolor06{color: #C44656}

#footer{background-color: #FFFFFF; width: 100%; float: left; padding: 4em 0 4em 0; }
#footer ul{ list-style: none; font-size: 1.2em; margin: 0; padding: 0}
#footer ul li{padding-bottom: 1em}
#footer a{text-decoration: none; color: #333}
#footer img{margin-right:8px}

/* Ficha Recurso */
.recurso-tags{margin-top:20px; margin-bottom:20px; text-align:center;line-height:3em;}
.recurso-tags h3, .datos-generales h3
{
  font-weight: bold;
  font-size: 24px;
}

.datos-generales h3
{
  margin-bottom: 20px;
}

a.tags:link, a.tags:visited, a.tags:active {font-size:1.1em;
    font-size: 1.1em;
    color: #999;
    padding: 6px 10px;
    background-color: #ffffff;
    border-radius: 5px;
    margin: 0 10px 10px 0;
    white-space: nowrap;
}
a.tags:hover
{
    text-decoration: none;
    border-radius: 5px;
    background-color: #5C5C5C;
    color: white;
    cursor:pointer;
}

.datos_generales {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.datos_generales h4 {
    font-weight: 600;
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    border: none;
    height: 412px;
    overflow: hidden;
    border-bottom: 4px solid #ff0000;
    border-radius: 0;
}

#cards-recursos .card:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22) !important;
}

#cards-recursos .starrr, #cards-recursos .star-ranking
{
    margin-bottom: 10px;
}

.card-title
{
  font-weight: bold;
}

.content-excerpt
{
  /*height: 80px;
  overflow: hidden;*/
}

.content-excerpt p
{
  margin: 0 auto;
}

.title-recurso h4
{
  /*height: 55px;
  margin-bottom: 10px;
  overflow: hidden;*/

    /*height:55px;
    text-overflow:ellipsis;
    white-space:nowrap;
    overflow:hidden;*/
}

.category-recurso
{
  width: 100%;
  overflow: hidden;
}

.category-recurso p
{
  padding: 0 20px;
  color: #aeaeae;
}

.category-recurso.coleccion
{
    color: #fff;
    background: #D38051;
}

.category-recurso.pregunta
{
    color: #fff;
    background: #333;
}

.category-recurso.pregunta p
{
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
}

.category-recurso.coleccion p
{
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
}

.category-recurso.recursos-externos
{
    color: #fff;
    background: #4A72B2;
}

.category-recurso.recursos-externos p
{
    padding: 10px;
    color: #fff;
    margin-bottom: 0;
}

.titulo-listado h1
{
    font-weight: bold;
    margin-bottom: 20px;
    color: #333;
}

.titulo-listado p
{
    color: #333;
    font-weight: 600;
    line-height: 25px;
}

.titulo-listado em
{
    font-weight: 600;
}

.titulo-listado
{
    padding: 20px;
    margin: 0 0 30px;
    /*background: url(../images/categoria.png);*/
    background: #eaeaea;
    /*background-size: cover;*/
}

.info-listado
{
    width: 100%;
    max-width: 1080px;
    margin: 0 auto;
}

.info-listado a
{
    color: #333;
    text-decoration: underline;
    font-weight: bold;
}




#cards-recursos {
    padding-bottom: 3em;
}

.recursos-home #cards-recursos
{
  padding-top: 0;
}

.card-grid {
    padding-bottom: 2em;

}

a.card-link {
    text-decoration: none;
    color: #222222;
}

#cards-recursos .card:hover {
    box-shadow: 10px 10px 53px -8px rgba(0,0,0,0.1);

}

main
{
  position:relative;
}

main.cd-main-content
{
  min-height: 70vh;

}

main.cd-main-content .row
{
  width: 100%;
}

.fondo-noticia
{
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 2;
  opacity: .3;
  background-attachment: fixed;
  background-size: 120% auto;
  background-position: center center;
  background-repeat: repeat-x;
  background-color: #000000;

  filter: blur(10px);
 -moz-filter: blur(10px);
 -webkit-filter: blur(10px);
 -o-filter: blur(10px);
 -ms-filter: blur(10px);

}

.fondo-noticia-negro
{
  background: #000;
  position:absolute;
  width: 100%;
  height: 100%;
}


.destacada-home-txt
{
  position: inherit;
  z-index: 2;
  margin-top: 5em;
  padding-bottom: 10em;
  float: left;
  animation: fadein.9s;
  font-size: .9em;
}

.destacada-home-txt h2
{
  color: #FFFFFF;
  font-size: 2.8em;
  font-weight: bolder;

}

.destacada-home-txt h3
{
  color: #FFFFFF;
  font-size: 1.3em;
  margin: .3em 0 .8em 0;
  line-height: 1.4em;

}

.SocialSharingButtons
{
  float: right;
}

.btn-azul {
    background-color: #337ab7;
    color: #FFFFFF;
    text-transform: uppercase;
    font-size: 1em;
    text-decoration: none;
    border: 0;
    border-radius: 0;
}

a.btn-azul:hover {
    background-color: #3d91d9;
}

.share-buttons li
{
    float: left;
    padding: 0 10px;
    margin: 5px;
    background: #ea9600;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;
}


/* LOADER */

.spinner {
  margin: 100px auto 0;
  width: 70px;
  text-align: center;
}

.spinner > div {
  width: 18px;
  height: 18px;
  background-color: #333;

  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.spinner .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

#features  {
    background-color: #FFF;
    padding: 5em 0;
}

#features  h3{
    font-weight: 900;
}

#features  p{
    line-height: 1.4;
}


@-webkit-keyframes sk-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
    transform: scale(0);
  } 40% {
    -webkit-transform: scale(1.0);
    transform: scale(1.0);
  }
}

.hidden
{
  display: none;
}

.img-recurso img
{
  border: 4px solid #434142;
}



/* Filtro Busqueda */
.filtro-busqueda
{
    width: 100%;
    background: #ccc;
    padding: 10px;
    border-top: 1px solid #c1c1c1;
    margin-bottom: 30px;
}

.filtro-busqueda .form-group select, .filtro-busqueda .form-group input
{
    width: 100%;
}

.content-filtros
{
    max-width: 1140px;
    margin: 0 auto;
    padding: 20px 0;
}

.container-btnfiltrar
{
    overflow: hidden;
}

.btnfiltrar
{
    float: right;
    cursor: pointer;
}


.col-center-featured
{
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    padding: 0 20px;
}

.space
{
    margin-bottom: 30px;
}

.decargas a
{
  margin-bottom:20px;   
}

@media only screen and (max-width: 1024px) {
  main.cd-main-content
  {
    min-height: inherit;
  }
}


@media only screen and (max-width: 770px) {
  .destacada-home-txt
  {
    margin-top: 2em !important;
  }

  .menu-filtro li
  {
    font-size: 16px;
    padding: 3px;
  }

  .destacada-home-txt.destacada-home-txt-img
  {
    padding-bottom: 0 !important;
  }

  .SocialSharingButtons
  {
      float: left;
  }

  .SocialSharingButtons ul
  {
      padding: 0;
  }

  #cards-recursos
  {
      margin-right: 0;
      margin-left: 0;
  }

  .cd-primary-nav, .cd-primary-nav ul
  {
      padding-left: 5px;
  }

  .cd-primary-nav a, .cd-primary-nav ul a
  {
      padding: 0;
      padding-left: 15px;
      padding-right: 40px;
  }

  li.has-children
  {
      padding-left: 5px;
  }
}

@media only screen and (max-width: 580px)
{
    .col-center-featured
    {
        border-right: none;
        border-left: none;
        padding: inherit;
    }
}

#accordion a{
    word-break: break-word;

}