<ul id="tags" class="tagHandlerContainer"></ul>
<input type="hidden" name='Recurso[tags][<?php echo $id ?>]' class="tagbox" value="">

<script type="text/javascript">

    $(window).on('load', function() {

        var tagsURL = '/backend/ceibal/rea/api/recursos/';

        $("#tags").tagHandler({
            getURL      : tagsURL + '<?php echo $id ?>',
            initLoad    : true,
            minChars    : 2,
            allowAdd    : false,
            msgNoNewTag : "No es posible agregar nuevos tags. Cualquier duda consulte al administrador del sitio REA",
            maxTags     : 10,
            msgError    : "Hubo un error al cargar los tags",
            autocomplete: true,
            afterAdd    : function(tag) { _tagbox(); },
            afterDelete : function(tag) { _tagbox(); }
        });

        $(document).ajaxComplete(function( event, xhr, settings ) {
            if(settings.url.indexOf(tagsURL) > -1) {
                _tagbox();
            }
        });

        function _tagbox() {
            var tags = $('#tags').tagHandler('getTags');
            $(".tagbox").val(tags);
        }

    });

</script>