<?php Block::put('breadcrumb') ?>
    <ul>
        <li><a href="<?= Backend::url('ceibal/rea/recursos') ?>">Recursos</a></li>
        <li><?= e($this->pageTitle) ?></li>
    </ul>
<?php Block::endPut() ?>
<?php
    use Ceibal\ReaFlujo\Models\ReaPluginEtapaUserRoles;
    use Ceibal\ReaFlujo\Models\ReaPluginLog;
    use Ceibal\ReaFlujo\Models\ReaPluginEtapa;

    $user           = BackendAuth::getUser();
    $roleId         = $user->attributes['role_id'];
    $puedeEditar    = 0;
    $etapas         = ReaPluginEtapaUserRoles::obtenerEtapasIdPorRol($roleId);
    $recursosId     = ReaPluginLog::obtenerRecursosXEtapaYUsuarioId($etapas, $user->id);
    $rol            = DB::table('backend_user_roles')->where('id',$roleId)->first();
    if (in_array($this->params[0], $recursosId))
    {
        $puedeEditar = 1;
    }

    if($rol->code == 'administradorGlobal')
    {
        $puedeEditar = 1;
    }
 ?>

<?php if (!$this->fatalError): ?>

    <?= Form::open(['class' => 'layout']) ?>

        <div class="layout-row">
            <?= $this->formRender() ?>
        </div>

        <?php if($puedeEditar){ ?>
        <div class="form-buttons">
            <div class="loading-indicator-container">
                <button
                    type="submit"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+s, cmd+s"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-primary">
                    <?= e(trans('backend::lang.form.save')) ?>
                </button>
                <button
                    type="button"
                    data-request="onSave"
                    data-request-data="close:1"
                    data-hotkey="ctrl+enter, cmd+enter"
                    data-load-indicator="<?= e(trans('backend::lang.form.saving')) ?>"
                    class="btn btn-default">
                    <?= e(trans('backend::lang.form.save_and_close')) ?>
                </button>
                <button
                    type="button"
                    class="oc-icon-trash-o btn-icon danger pull-right"
                    data-request="onDelete"
                    data-load-indicator="<?= e(trans('backend::lang.form.deleting')) ?>"
                    data-request-confirm="<?= e(trans('backend::lang.form.confirm_delete')) ?>">
                </button>

                <span class="btn-text">
                    <?= e(trans('backend::lang.form.or')) ?> <a href="<?= Backend::url('ceibal/rea/recursos') ?>"><?= e(trans('backend::lang.form.cancel')) ?></a>
                </span>
            </div>
        </div>
        <?php } ?>
    <?= Form::close() ?>

<?php else: ?>
    <p class="flash-message static error"><?= e(trans($this->fatalError)) ?></p>
    <p><a href="<?= Backend::url('ceibal/rea/recursos') ?>" class="btn btn-default"><?= e(trans('backend::lang.form.return_to_list')) ?></a></p>
<?php endif ?>
